.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background: rgb(137,9,9);
    background: linear-gradient(22deg, rgba(137,9,9,1) 0%, rgba(0,0,0,1) 65%);
}

.login > img {
    width: 70%;
}

.login > a {
    padding:20px;
    background-color: #DF051B;
    border-radius: 99px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}